header {
	background-image: url(https://cdna.artstation.com/p/assets/images/images/005/484/648/large/natalie-de-blasis-low-poly-crystals-glow2.jpg?1491365693);
	text-align: center;
	padding-bottom: 70px;
}

h1 {
	color: black;
	font-family: Serif;
	font-size: 70px;
}

p {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: sans-serif;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;
}

/* unvisited link */
a:link {
  color: pink;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  color: lavender;
}

a{
	text-decoration: none;
}
